/* 코드 블럭 스타일 수정 */
.highlight {
    overflow-x: auto;
    max-width: 100%;
    padding: 1em;
    background: #f8f8f8;
    border-radius: 8px;
  }
  
  /* 코드 줄 자체가 너무 길 때 줄 바꿈 없이 스크롤 되도록 */
  .highlight pre {
    white-space: pre;
  }